body {
  background-color: green;
}

h1 {
  text-align: center;
  color: white;

}
button.start {
  position: absolute;
  top: 30%;
  left: 80%;
}

div.start {
  text-align: center;
}

.dealerCard2 {
  border-style: solid;
  position: absolute;
  width: 15%;
  height: 30%;
  float: left;
  top: 30%;
  left: 20%;
}

.hits{
  width: 15%;
  height: 30%;
  float: left;
  top: 70%;
  left: 40%;
  display:inline-block;

}

.playerHitCard {
  border-style: dashed;
  position: absolute;
  width: 15%;
  height: 30%;
  float: left;
  top: 70%;
  left: 40%;
  display:inline-block;

}

button.hit {
  position: absolute;
  top: 40%;
  left: 80%;
}

button.stand {
  position: absolute;
  top: 50%;
  left: 80%;
}

button.newGame {
  position: absolute;
  top: 60%;
  left: 80%;
}

.diamond {
  background-image: url('./images/diamonds.png');
}

.spade {
  background-image: url('//images/spades.png');
}

.playerSpot {
  border-style: solid;
  position: absolute;
  width: 95%;
  height: 30%;
  float: left;
  top: 70%;
  margin: 1% auto;
  border-color: blue;
  border-style: solid;
  left: 2%;
}

.playerCard {
  border-style: solid;
  position: relative;
  width: 15%;
  height: 100%;
  float: left;
  margin-right: 10px;
}
