body {
  background-color: green;
}

h1 {
  text-align: center;
  color: white;

}
button.start {
  position: absolute;
  top: 10%;
  left: 20%;
}

div.start {
  text-align: center;
}

button.hit {
  position: absolute;
  top: 10%;
  left: 80%;
}

button.stand {
  position: absolute;
  top: 20%;
  left: 80%;
}

button.newGame {
  position: absolute;
  top: 20%;
  left: 20%;
}

.playerSpot {
  position: absolute;
  width: 95%;
  height: 30%;
  float: left;
  top: 65%;
  margin: 1% auto;
  left: 2%;
}

.playerCard {
  border-style: solid;
  position: relative;
  width: 15%;
  height: 100%;
  float: left;
  margin-right: 10px;
}

.dealerSpot {
  position: absolute;
  width: 95%;
  height: 30%;
  float: left;
  top: 30%;
  margin: 1% auto;
  left: 2%;
}

.dealerCard {
  border-style: solid;
  position: relative;
  width: 15%;
  height: 100%;
  float: left;
  margin-right: 10px;
}

svg {
  position: relative;
  width: 100px;
  height: 120px;
}

#heart {
  transform: translate(-100px, 30px);
}

#diamond {
  transform: translate(0px, -80px);
}

#club {
  transform: translate(-100px, -80px);
}

#spade {
  transform: translate(0px, 20px);
}

.cardNumber{
  transform: translate(5px, 20px);
}
